dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
*.swp
roll
pizza
fib
sum
sum_lazy
bg_highlight
hello_world
goodbye.txt
hello_file
fileCounts
stats.dat
cp
glitcher
glitched_*.jpg
marc_to_html
books.html
sample.mrc
dist
min3
user
echo
